<%-include("partial/header") -%>
    <div class="header">


        <div class="heading-box">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1 class="header-title-1">GreenHorizon: Powering a Sustainable Future, Together</h1>
                    <h1 class="header-title-2"> Re-empowering individuals, businesses, and communities to embrace clean energy solutions.</h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="objective">
        <section id="features">
            <div class="container-fluid feature">
                <div class="row">
                    <div class="col-lg-4 feature1">
                        <img class="ob-icon" src="/images/windmill.png" alt="">
                        <h2 class="icon-heading">Ignite</h2>
                        <p class="icon-para">Spark a shift to clean energy. </p>
                    </div>
                    <div class="col-lg-4 feature1">
                       <img class="ob-icon" src="/images/eco-activism.png" alt="">
                        <h2 class="icon-heading">Renew</h2>
                        <p class="icon-para">Embrace sustainable energy sources. 
 
                        </p>
                    </div>
                    <div class="col-lg-4 feature1">
                        <img class="ob-icon" src="/images/planet-earth.png" alt="">
                        <h2 class="icon-heading">Sustain</h2>
                        <p class="icon-para">Build a lasting green future.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section id="plans">
        <div >
            <div class="row">
                <div class="log-in col-lg-4">
                    <div class="card service-cards" >
                        <h1 class="card-title" style="margin-bottom: 5%;">Calculate</h1>
                        <i class="fa-solid fa-calculator fa-4x"></i>
                        <div class="card-body">
                          
                          <p class="card-text" >Know Your impact.</p>
                          
                          <a href="/calculator"><button class="btn btn-custom btn-lg"style="--bs-btn-padding-y:0.5rem; --bs-btn-padding-x: 4.5rem; --bs-btn-font-size: 1.4rem;">Go</button></a>
                        </div>
                      </div>
                </div>
                <div class="log-in col-lg-4">
                    <div class="card service-cards" >
                        <h1 class="card-title" style="margin-bottom: 5%;">Calculate</h1>
                        <i class="fa-solid fa-calculator fa-4x"></i>
                        <div class="card-body">
                          
                          <p class="card-text" >Know Your impact.</p>
                          
                          <a href="/calculator"><button class="btn btn-custom btn-lg"style="--bs-btn-padding-y:0.5rem; --bs-btn-padding-x: 4.5rem; --bs-btn-font-size: 1.4rem;">Go</button></a>
                        </div>
                      </div>
                </div>
                <div class="log-in col-lg-4">
                    <div class="card service-cards" >
                        <h1 class="card-title" style="margin-bottom: 5%;">Calculate</h1>
                        <i class="fa-solid fa-calculator fa-4x"></i>
                        <div class="card-body">
                          
                          <p class="card-text" >Know Your impact.</p>
                          
                          <a href="/calculator"><button class="btn btn-custom btn-lg"style="--bs-btn-padding-y:0.5rem; --bs-btn-padding-x: 4.5rem; --bs-btn-font-size: 1.4rem;">Go</button></a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials">
        <h1>Our Supporters</h1>
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 3"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/caro1.jpeg" alt="dog-profile" class="testimonial-image">

                    <p class="testimonial-text">"NetZero has been a game-changer for us. Their comprehensive approach to
                        computing and offsetting our carbon footprint aligned perfectly with our sustainability goals.
                        Their knowledgeable team saved us time and resources, providing exceptional support throughout.
                        Highly recommend to any company wanting to make a difference!"</p>
                    <em>Ankit Jain,CEO of EcoTech</em>
                </div>
                <div class="carousel-item">
                    <img src="images/caro2.jpeg" alt="dog-profile" class="testimonial-image">

                    <p class="testimonial-text">"We're thrilled with NetZero's services. Their user-friendly platform
                        helped us accurately assess and mitigate our carbon emissions. Their dedication to
                        sustainability and tailored solutions exceeded our expectations. Proud to partner with them!"
                    </p>
                    <em>Rahul,Sustainability Manager at GreenTech Innovations</em>
                </div>
                <div class="carousel-item">
                    <img src="images/caro5.jpeg" alt="dog-profile" class="testimonial-image">

                    <p class="testimonial-text">"NetZero has been instrumental in helping us navigate carbon
                        footprinting and offsetting. Their expertise and personalized approach have guided us toward a
                        more sustainable future. Grateful for their partnership and excited to continue our journey
                        together."
                    <p>
                        <em>Yuvraj, Sustainability Coordinator at EcoFriendly Enterprises</em>
                </div>
                <div class="carousel-item">
                    <img src="images/caro3.jpeg" alt="dog-profile" class="testimonial-image">

                    <p class="testimonial-text">"NetZero exceeded our expectations. Their commitment to accuracy and
                        transparency is outstanding. They helped us quantify emissions accurately and provided practical
                        strategies to reduce our carbon footprint. Proud to be associated with such a reputable
                        partner."
                    <p>
                        <em>Akanansha, CEO of GreenTech Solutions </em>
                </div>
                <div class="carousel-item">
                    <img src="images/caro4.jpeg" alt="dog-profile" class="testimonial-image">

                    <p class="testimonial-text">"Our experience with NetZero has been exceptional. Their professional
                        team, intuitive platform, and impactful offsetting projects made a tangible difference. Thanks
                        to NetZero, we've achieved our sustainability goals and enhanced our brand reputation."
                    <p>
                        <em>Sunita, Operations Director at CleanTech Solutions</em>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <section id="press">

            <img src="images/techcrunch.png" class="press-img" alt="tc-logo">
            <img src="images/tnw.png" class="press-img" alt="tnw-logo">
            <img src="images/bizinsider.png" class="press-img" alt="biz-insider-logo">
            <img src="images/mashable.png" class="press-img" alt="mashable-logo">
            <img src="images/Nike.png" class="press-img" alt="mashable-logo">
            <img src="images/starbucks.png" class="press-img" alt="mashable-logo">

            <img src="images/tesla.png" class="press-img" alt="mashable-logo">
            <img src="images/coca-cola.png" class="press-img" alt="mashable-logo">
            <img src="images/mercedes.png" class="press-img" alt="mashable-logo">
            <img src="images/IBM.png" class="press-img" alt="mashable-logo">

        </section>


    </section>
    <section id="newsletter">
        <div class="newsletter-content">
            <div class="row">
                <div class="col-lg-6 col-md-6 newsletter-heading">
                    <h1>Make your inbox a little greener</h1>
                    <h2>Keep up with our half-yearly newsletter</h2>\
                    <img src="/images/plant.png" class="newsletter-icon">
                </div>
                <div class="col-lg-6 col-md-6">
                    <form class="input" action="/" method="post">
                        <div class="mb-3">
                            <label for="first-name" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="first-name" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="second-name" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="second-name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="termscheck">
                            <label class="form-check-label" for="termscheck">I agree to the terms and conditions</label>
                        </div>
                        <div class="d-grid gap-2">            
                        <button type="submit" class="btn btn-success ">Submit</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        </div>

    </section>


    <%- include("partial/footer") -%>

