<%-include("partial/header") -%>
<div class="header" style="margin-bottom: 0;">
    <div class="heading-box">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h1 class="header-title-1" >
                 GreenHorizon: Powering a Sustainable Future, Together.
                </h1>
                <h1 class="header-title-2" id="message" >
                    
                </h1>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                
            </div>
        </div>
    </div>
</div>

    <div class="objective" >
        <section id="features">
            <div class="container-fluid feature">
                <h1 class="obj-heading">Building a <span  class="text-to-highlight">Brighter</span> Tomorrow</h1>
                <div class="row">
                    <div class="col-lg-4 feature1">
                        <img class="ob-icon" src="/images/windmill.png" alt="">
                        <h2 class="icon-heading">Ignite</h2>
                        <p class="icon-para">Spark a shift to clean energy. </p>
                    </div>
                    <div class="col-lg-4 feature1">
                       <img class="ob-icon" src="/images/eco-activism.png" alt="">
                        <h2 class="icon-heading">Renew</h2>
                        <p class="icon-para">Embrace sustainable energy sources. 
 
                        </p>
                    </div>
                    <div class="col-lg-4 feature1">
                        <img class="ob-icon" src="/images/planet-earth.png" alt="">
                        <h2 class="icon-heading">Sustain</h2>
                        <p class="icon-para">Build a lasting green future.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section id="plans">
        <div >
            <div class="row planss">
                <div class="log-in col-lg-4">
                    <div class="card service-cards" >
                        
                        <img class="ob-icon1" src="/images/electrical-energy.png" alt="">
                        <h1 class="card-title" >Sunshine for Savings</h1>
                        <div class="card-body">
                          
                          <p class="card-text" >Curious how much you can save by switching to solar?  Take a minute to calculate your home's energy consumption and discover how solar panels can turn sunlight into significant savings on your electricity bill.</p>
                          
                          <a href="/savings" style="text-decoration: none;"><div class="d-grid gap-2">
                            <button class="btn btn-light" type="button" style=" font-family: 'montserrat'; margin-top: 19%;">Calculate My Solar Savings</button>
                            
                          </div></a>
                        </div>
                      </div>
                </div>
                <div class="log-in col-lg-4">
                    <div class="card service-cards" >
                        
                        <img class="ob-icon1" src="/images/carbon-footprint.png" alt="">
                        <h1 class="card-title">Reduce Your Environmental Impact</h1>
                        <div class="card-body">
                          
                          <p class="card-text" >Ever wonder how your daily habits affect the planet?  Our quick carbon footprint calculator helps you understand your environmental impact  and see how solar power can make a significant difference.</p>
                          
                          <a href="/carbon-calculator" style="text-decoration: none;"><div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-light" type="button" style=" font-family: 'montserrat';">Reduce My Footprint</button>

                          </div></a>
                        </div>
                      </div>
                </div>
                <div class="log-in col-lg-4">
                    <div class="card service-cards" >
                        
                        <img class="ob-icon1" src="/images/eco-house.png" alt="">
                        <h1 class="card-title" >Sun Power Made Simple</h1>
                        <div class="card-body">
                          <p class="card-text" >  Ready to make the switch to clean, renewable energy?  This guide takes you step-by-step through the solar panel installation process, from initial consultation to enjoying the benefits of solar power in your home.  Learn more and find qualified installers in your area.</p>
                          <a href="/calculator" style="text-decoration: none;"><div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-light" type="button" style=" font-family: 'montserrat'; margin-top: 10%;">Install Now</button>

                          </div></a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <section id="invest">
        <div class="card-indus" style="background-color:#fffbf7;">
            <h1 class="testimonial-heading" > Invest in a <span class="text-to-highlight">Brighter</span> Future</h1>
            <h5 class="offset-sub-heading" >Make a real impact by directly supporting the development and growth of clean energy sources.
            </h5>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card1" style="width: 30rem; margin-left: 20%;margin-bottom: 5%;">
                        <img src="/images/rima.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="https://offset.climateneutralnow.org/rima-fuel-switch-in-bocai-va-889-?searchResultsLink=%2Fallprojects" style="text-decoration: none;color: black;"><h5>RIMA Fuel Switch in Bocaiúva</h5></a>
                             <h6 >Available Tonnes:9,259</h6>
                          <p class="card-text aa" >Hanuman Agro Industries Limited (HAIL) is a public limited company, incorporated in 1994 with the main objectives of carrying out business activities in the field of Paper & Power Generation using conventional or non-conventional fuel.</p>
                          <a href="https://offset.climateneutralnow.org/rima-fuel-switch-in-bocai-va-889-?searchResultsLink=%2Fallprojects" style="text-decoration: none;color: black;"><div class="d-grid gap-2">
                            <button class="btn btn-warning" type="button" style="margin-top: 10%;">Invest Now</button>
                            
                          </div></a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-6">
                    <div class="card card1" style="width: 30rem; margin-left: 8%;margin-bottom: 5%;">
                        <img src="/images/rice.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="https://offset.climateneutralnow.org/25-mw-rice-husk-based-cogeneration-plant-at-hanuman-agro-industries-limited?searchResultsLink=%2Fallprojects" style="text-decoration: none;color: black;"><h5>2.5 MW Rice husk based cogeneration plant at Hanuman Agro Industries Limited</h5></a>
                             <h6 >Available Tonnes:104,490</h6>
                          <p class="card-text aa">The project resides in the industrial district of Bocaiúva, in the northern state of Minas Gerais, a region dedicated to metallurgy, mining, agriculture and reforestation. The project replaces fossil fuel by renewable biomass at one of the factories of Rima Industrial.</p>
                          <a href="https://offset.climateneutralnow.org/25-mw-rice-husk-based-cogeneration-plant-at-hanuman-agro-industries-limited?searchResultsLink=%2Fallprojects" style="text-decoration: none;color: black;"><div class="d-grid gap-2">
                            <button class="btn btn-warning" type="button">Invest Now</button>
                            
                          </div></a>
                        </div>
                      </div>
                </div>
        
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card1" style="width: 30rem; margin-left: 20%; margin-bottom: 5%;">
                        <img src="/images/10.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="https://offset.climateneutralnow.org/10-mw-biomass-based-renewable-energy-generation-for-the-grid-at-saradambika-power-plant-private-limited-at-chandrapur-district-maharashtra?searchResultsLink=%2Fallprojects" style="text-decoration: none;color: black;"><h5>10 MW Biomass Based Renewable Energy Generation for the Grid at Saradambika Power Plant Private Limited at Chandrapur District, Maharashtra</h5></a>
                             <h6 >Available Tonnes:3,446</h6>
                          <p class="card-text aa">Saradambika is a 10 MW Biomass Power Plant located in Chimur, India. The project conserves local resources, reduces pressure on the environment, and improves health conditions in the community. The emissions reductions of the project are estimated at 353,487 tonnes of CO2 eq. over the crediting period of 10 years.</p>
                          <a href="https://offset.climateneutralnow.org/10-mw-biomass-based-renewable-energy-generation-for-the-grid-at-saradambika-power-plant-private-limited-at-chandrapur-district-maharashtra?searchResultsLink=%2Fallprojects" style="text-decoration: none;color: black;"><div class="d-grid gap-2">
                            <button class="btn btn-warning" type="button">Invest Now</button>
                            
                          </div></a>
                        </div>
                      </div>
                </div>
                <div class="col-lg-6">
                    <div class="card card1" style="width: 30rem; margin-left: 8%; margin-bottom: 5%;">
                        <img src="/images/155.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="https://offset.climateneutralnow.org/155-mw-gas-based-combined-cycle-power-project-at-hazira-1300-?searchResultsLink=%2Fallprojects" style="text-decoration: none;color: black;"><h5>155 MW Gas based combined cycle power project at Hazira</h5></a>
                             <h6 >Available Tonnes:21,065</h6>
                          <p class="card-text aa">The project activity is to set up a 500 MW natural gas based combined cycle power plant. The combined cycle power plant has been set up in two phases. Phase 1 is 155 MW. The power plant receives Natural Gas in pipelines from Essar Steel Limited (ESTL) and water is pumped from the Tapi river. BPL and ESTL have entered into a Power Purchase Agreement under which BPL would supply power to ESTL.</p>
                          <a href="https://offset.climateneutralnow.org/155-mw-gas-based-combined-cycle-power-project-at-hazira-1300-?searchResultsLink=%2Fallprojects" style="text-decoration: none;color: black;"><div class="d-grid gap-2">
                            <button class="btn btn-warning"  style="margin-top: 10%;"type="button">Invest Now</button>
                            
                          </div></a>
                        </div>
                      </div>
                </div>
        
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card1" style="width: 30rem; margin-left: 20%; margin-bottom: 5%;">
                        <img src="/images/shah.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="https://offset.climateneutralnow.org/wind-energy-project-in-maharashtra-by-m-s-shah-promoters-developers-4489-?searchResultsLink=%2Fallprojects%3FPageNumber%3D2" style="text-decoration: none;color: black;"><h5>Wind Energy Project in Maharashtra by M/s Shah Promoters & Developers</h5></a>
                             <h6 >Available Tonnes:964</h6>
                          
                             <p class="card-text aa">Our 7.2 Mw wind farm is located at Khandke, India. The project developer is the firm M/s Shah Promoters & Developers. In addition to the production of green energy, this project creates employment, business and extra income opportunities for the locals.</p>
                             <a href="https://offset.climateneutralnow.org/wind-energy-project-in-maharashtra-by-m-s-shah-promoters-developers-4489-?searchResultsLink=%2Fallprojects%3FPageNumber%3D2" style="text-decoration: none;color: black;"><div class="d-grid gap-2">
                                <button class="btn btn-warning" type="button" style="margin-top: 4%;"> Invest Now</button>
                                
                              </div></a>
                            </div>
                      </div>
                </div>
                <div class="col-lg-6">
                    <div class="card card1" style="width: 30rem; margin-left: 8%; margin-bottom: 5%;">
                        <img src="/images/ginni.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="https://offset.climateneutralnow.org/balsio-small-hydroelectric-project-of-ginni-global-pvt-ltd-4309-?searchResultsLink=%2Fallprojects%3FPageNumber%3D2" style="text-decoration: none;color: black;"><h5>Balsio Small Hydroelectric Project of Ginni Global Pvt. Ltd.</h5></a>
                             <h6 >Available Tonnes:167,841</h6>
                          <p class="card-text aa">The Balsio Hydel Project has a power generation capacity of 5.0 MW which has been installed to augment the power generation in Himachal Pradesh using renewable energy. The project activity improves the voltage profile and reliability of the power system in the remote area by delivering 21.95 GWh of clean energy to the grid.</p>
                          <a href="https://offset.climateneutralnow.org/balsio-small-hydroelectric-project-of-ginni-global-pvt-ltd-4309-?searchResultsLink=%2Fallprojects%3FPageNumber%3D2" style="text-decoration: none;color: black;"><div class="d-grid gap-2">
                            <button class="btn btn-warning" type="button" >Invest Now</button>
                            
                          </div></a>
                        </div>
                      </div>
                </div>
        
            </div>
        </div>
        <div class="caro-indus">

    </section>
    <section id="news" style="padding: 5%; padding-top: 0;">
        <div class="row">
            <h1  class="testimonial-heading">From Our Green Magazine</h1>
            <!-- Card 1 -->
            <div class="col-lg-4 col-md-12">
                <div class="card card1" style="margin-bottom: 5%;">
                    <img src="images/newss.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" >Sun Power Surges: New Solar Panel Technology Breaks Efficiency Records</h5>

                        <p class="card-text aa">Researchers have developed a revolutionary solar panel design achieving record-breaking energy conversion efficiency. This breakthrough has the potential to significantly reduce the cost of solar energy and accelerate its adoption worldwide. </p>
                        <a href="https://www.constructionworld.in/energy-infrastructure/power-and-renewable-energy/breakthrough-in-solar-technology-cell-achieves-36.1-efficiency/44945#:~:text=In%20a%20groundbreaking%20development%20for,in%20a%20new%20solar%20cell." class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-lg-4 col-md-12"  style="margin-bottom: 5%;">
                <div class="card card1">
                    <img src="images/vs7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Wind Energy Takes Flight: Offshore Wind Farms Poised for Explosive Growth</h5>

                        <p class="card-text aa">Investment in offshore wind farms is skyrocketing as countries look to harness the vast potential of wind power at sea. This trend is expected to continue, contributing significantly to renewable energy targets and creating clean energy jobs. </p>
                        <a href="https://www.reuters.com/business/sustainable-business/floating-wind-power-gains-traction-can-it-set-sail-2023-04-24/#:~:text=LONDON%2C%20April%2024%20(Reuters),to%20be%20all%20plain%20sailing." class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-lg-4 col-md-12" style="margin-bottom: 5%;">
                <div class="card card1">
                    <img src="images/news1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Green Hydrogen on the Rise: Breakthroughs Promise Cleaner Fuel for Transportation</h5>

                        <p class="card-text aa">Advancements in green hydrogen production technology are paving the way for a more sustainable transportation sector.  Green hydrogen, produced using renewable energy, has the potential to decarbonize industries reliant on traditional fossil fuels. </p>
                        <a href="https://www.policycircle.org/ainews/green-hydrogen-sustainability/" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="card card1" >
                    <img src="images/new2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> Battery Boom: Innovation Heats Up the Race for Longer-lasting Energy Storage</h5>

                        <p class="card-text aa">The race is on to develop next-generation battery technology that can store renewable energy more efficiently and for longer durations. These advancements are crucial for enabling a wider integration of renewable sources into the energy grid. </p>
                        <a href="https://leonard.vinci.com/en/energy-storage-biggest-challenge-facing-energy-transition/" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-12">
                <div class="card  card1">
                    <img src="images/news3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Geothermal Power Gains Ground: Tapping Earth's Natural Heat for Clean Energy</h5>

                        <p class="card-text aa">Geothermal energy, which utilizes the Earth's internal heat, is gaining traction as a reliable and baseload source of renewable energy. This technology offers immense potential for regions with geothermal resources. </p>
                        <a href="https://www.energy.gov/eere/geothermal/geothermal-faqs#:~:text=What%20is%20geothermal%20energy%20and,buildings%2C%20and%20serve%20other%20uses." class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card card1">
                    <img src="images/solar.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Policy Push for Renewables: Governments Incentivize Clean Energy Transition</h5>

                        <p class="card-text aa">Governments around the world are implementing policies that favor renewable energy sources.  These incentives, including tax breaks and subsidies, are accelerating the shift towards a clean energy future.</p>
                        <a href="https://www.iea.org/news/governments-are-continuing-to-push-investment-into-clean-energy-amid-the-global-energy-crisis" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
    

    <%- include("partial/footer") -%>

