<%- include("partial/header") -%>
<div class="container">
    <h1>Get User's Location</h1>
    <button id="getLocationBtn">Get My Location</button>
    <p id="locationInfo"></p>
  </div>
  <script src="script11.js"></script>
<%- include("partial/footer") -%>