
<%- include("partial/header") -%>
<div  style="background-image: url('/images/result-bg.png'); background-repeat: no-repeat; background-size: cover; padding-bottom: 5%;">
    <h1 class="heading-result" style="size: 60px;"> Solar Panel Dealers Near You</h1>
    </h2>
    </div>
<style>

    .installerList {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  

    .installer {
      background-color: #fff7dd;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px;
      width: calc(33.33% - 20px);
      box-sizing: border-box; 
      margin-bottom: 1%;
      margin-top: 2%;
    }
  
    .installer h2 {
      margin-top: 0;
      font-family: 'oswald';
      font-weight: 600;
      font-size: 25px;
    }
  
    .installer p {
      margin: 5px 0;
      font-family: 'roboto';
      
    }
  
    .installer a {
      color: #007bff;
      text-decoration: none;
    }
  
    .installer a:hover {
      text-decoration: underline;
    }
    .installer img {
    max-width: 40%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: auto;
  }
  @media (max-width: 768px) {
    .installerList {
      flex-direction: column; 
    }

    .installer {
      width: 100%; 
    }
  }
  </style>
<div class="installerList">

  </div>
<%- include("partial/footer") -%>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const installers = <%- JSON.stringify(topInstallers) %>;
    const installerList = document.querySelector('.installerList');


    function createInstallerElement(installer) {
      const installerElement = document.createElement('div');
      installerElement.classList.add('installer');


      installerElement.innerHTML = `
      <img src="/images/logo1.png" alt="${installer.name} Photo">
        <h2>${installer.name}</h2>
        <p>• 📞 : ${installer.phone}</p>
        
        <p>• Reviews : ${installer.reviews}</p>
        <p>• Rating : ${installer.rating}</p>
        <p>• Website: <a href="${installer.website}" target="_blank">${installer.website}</a></p>
        <p>• User Review: ${installer.userReview}</p>
      `;

      return installerElement;
    }


    installers.forEach(function(installer) {
      const installerElement = createInstallerElement(installer);
      installerList.appendChild(installerElement);
    });
  });

</script>
