<%-include("partial/header") -%>
<div class="super" style="background-image: url('/images/carbon-bg.png'); background-repeat: no-repeat; background-size: cover; margin-bottom: 0;">
    <h1 class="heading-result1">
        Clean Air Starts Here
    </h1>
    <h3 class="heading-sub1" style="margin-bottom: 0;">
        Track, Offset, & Breathe Easy with Carbon Credits
    </h3>
</div>
<div>
    <div class="row">
        <div class="col-lg-6"  style="padding: 3%; padding-top: 6%;">
            <div style="background-image: url('/images/bgg.jpeg');"><h1 class="heading-res">Your Carbon Credit is <span id="myNum"><%=carbonCredit%></span> Rs.</h1></div>
            
        </div>
        <div class="col-lg-6">
           <h1 class="heading-explain">Your Monthly "Eco-Bill"</h1>
           <p class="paraa">
            Carbon credits act like your monthly "eco-bill," representing the estimated rupee value of the carbon dioxide emissions you generate through daily activities.  Think of it like a way to quantify your environmental impact. By understanding this value, you can make informed decisions to reduce your footprint (like using less energy) or offset your emissions by purchasing carbon credits that support green projects like tree planting or renewable energy. It's a powerful tool for taking responsibility for your impact and contributing to a cleaner planet.
           </p>
        </div>
    </div>

</div>
<div>
    <div class="row">
        <div class="col-lg-6"  style="padding: 3%;padding-top: 0;">
            <h1 class="heading-explain" style="padding-left: 5%;">Why is carbon credit investing important?</h1>
            <p class="paraa" style="padding-left: 5%;">
                Combating climate change is crucial, and carbon credit investing steps up to the challenge. It assigns a cost to CO₂ emissions, incentivizing polluters to either cut back or invest in projects that remove it (like planting trees). This goes beyond punishment, fostering innovation and funding green initiatives, ultimately paving the way for a more sustainable future.It incentivizes companies to innovate and find ways to reduce their emissions. The revenue generated from carbon credits can then be used to fund environmental initiatives and promote sustainable development.</p>
        </div>
        <div class="col-lg-6" style="padding: 7%;">
           <img src="/images/carbon-calculator.png" alt="" class="image-result">
        </div>
    </div>

</div>
<div>
    <div class="row" style="margin-bottom: 5%;">
        <div class="col-lg-4 " style="padding-left: 5%;">
            <h1 class="heading-explain" style="padding-left: 7%;">Carbon exchanges</h1>
            <p class="paraa" style="padding-left: 3%;">
                Carbon credits are traded on various exchanges, such as the Carbon Trade Exchange (CTX), Xpansive, Toucan Protocol, and AirCarbon Exchange (ACX). There are also more recent market entrants, such as Climate Impact X (CIX) and Viridios AI, to which many buyers will refer for price benchmarks. These exchanges provide daily and weekly carbon prices.

As the VCM continues to evolve, the role of companies like CIX and Viridios AI will become increasingly important in shaping the future of carbon markets.

The VCM has grown significantly, surpassing an annual value of $1 billion in 2021 and witnessing a 30% increase in 2022.</p>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem; margin: auto; border-radius: 5%;"  >
                <img src="/images/company1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"  style="font-family: 'oswald';">Climate Impact X</h5>
                  <p class="card-text">CIX is a leading global marketplace that provides a comprehensive platform for listing, discovering, comparing, purchasing, and retiring reliable credits that have been verified by internationally recognized standards such as Verra (VCS). As a key player in the Voluntary Carbon Market (VCM), CIX offers a trusted platform for trading carbon credits.</p>
                  <a href="https://www.climateimpactx.com/" style="text-align: center; text-decoration: none;"><div class="d-grid gap-2"><button class="btn btn-warning" type="button">Start</button></div></a>
                </div>
              </div>

        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem; margin: auto; border-radius: 5%;">
                <img src="/images/company2.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="font-family: 'oswald';">Viridios AI</h5>
                  <p class="card-text">Viridios AI revolutionises carbon credit pricing, valuation, and project info, mobilising positive action towards net zero. Viridios AI shapes the VCM with advanced tools, enhancing transparency and efficiency. Its real-time and historical data cover hundreds of investable carbon projects in blue carbon, forestry, energy efficiency, and renewable energy sectors.</p>
                  <a href="https://viridios.ai/"  style="text-align: center; text-decoration: none;"><div class="d-grid gap-2"><button class="btn btn-warning" type="button">Start</button></div></a>
                </div>
              </div>
        </div>
    </div>
</div>
<script>

</script>
<%-include("partial/footer") -%>
