<%-include("partial/header") -%>
<div id="email">
    <form action="mailto:netzerocarbonvision@gmail.com" method="post" enctype="text/plain">
        <h1 class="email-title">Get In Touch</h1>
        <h3 class="email-title lower">Drop us a line through the form below and we'll get back to you</h3>
        <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Name:</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Your Name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label" style="text-align:left;">Email:</label>
            <input type="email"  class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label" >Your Message</label>
            <textarea class="form-control" name="Message" id="exampleFormControlTextarea1" rows="3" placeholder="Please tell us bit about your goals,what are you hoping to achieve with NetZero"></textarea>
        </div>
        <input type="submit" id="email-bt">
    </form>
</div>
<%-include("partial/footer") -%>
