/* Navbar styles */
.navbar {
    background-color: #f8f9fa;
}

.navbar-brand {
    color: #eeb714;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
}

.navbar-nav .nav-link {
    color: #eeb714;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}

.logo-title {
    color: #eeb714;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

.logo {
    margin-right: 10px;
    width:20px;
}
.navbar-nav .nav-link {
    transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover {
    color: #050504;
} 

.navbar-nav .nav-link {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-item {
    margin-right: 20px;
}

@media (min-width: 768px) {
    .navbar-nav {
        margin-left: auto;
    }
}
/* footer */
.footer-bs {
    background-color: #413f3c;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

.newsletter-section {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
}

.newsletter-section p {
    margin-bottom: 15px;
}

.newsletter-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-section input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.newsletter-section button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-section button:hover {
    background-color: #0056b3;
}
/* contact */
.contact-text{
    float: right;
}
.contact-card{
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 9%;
    padding-right: 9%;
}
.fa-linkedin{
    color:  #0A66C2;
}
.fa-linkedin:hover{
    color: rgb(47, 47, 137);
}
.left{
    padding-right: 9%;
}
/* signup */
.imagebg {
    background-image: url("/images/bg-6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5%;
    padding-bottom: 15%;
}

.signup {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(1, 1, 1, 0.6);
    border-radius: 4%;
    padding: 6%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.signup1 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(1, 1, 1, 0.6);
  border-radius: 4%;
  padding: 0%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.sign-up-input {
    margin: 0% 3%;
    padding-bottom: 3%;
}

.sign-up-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    color: #000000;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 2%;
}

.sign-up-label {
    font-weight: 600;
}

.sign-icon {
    padding: 2%;
    padding-bottom: 5%;
}

.sign-up {
    padding: 7%;
}

.form-label {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

.form-check-label {
    font-size: 1rem;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* header section */
.header img
{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
} 
.header
{
    margin: 0%;
    padding: 3% 10%;
    background-image: url("/images/bg2.png") ;
    background-repeat: no-repeat;
    background-size:contain;
}
.heading-box{
   
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
   
}
@media (max-width:1028px)
{
    .header{
        background-size: cover;
    }
}
.header-title-1
{
    text-shadow: 4px 4px rgb(236, 112, 3);
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: "montserrat";
    font-weight: 900;
    font-size:45px;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 70px;
    text-align: left;


}
.header-title-2
{

    text-shadow: 3px 3px rgb(202, 95, 1);
    padding-top: 0%;
    padding-bottom: 45%;
    font-family: "Dancing script";
    font-weight: 700;
    font-size:40px;
    padding-left: 5%;
    letter-spacing: 1px;
    padding-right: 10%;
    line-height: 50px;
}
.header-para
{
    padding-top:40%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
    font-family: "rootob";
    text-shadow: 2px 2px black;
    line-height: 45px;
    letter-spacing: 3px;

}
.para-title
{
    font-family: "alex brush";
    font-size: 40px;
}
/* objective section */
#features
{
    padding: 0 7.5% 7.5% 7.5%;
   
    text-align: center;background-color: white;  
}

.ob-icon{
height: 70px;
margin-top: 5%;
}
.icons
{
    margin-top: 2rem;
    margin-bottom: rem;
    color: #EE7214;
}
.feature1
{
    padding-left: 7rem;
    padding-right: 7rem;
}
.icon-heading
{
    font-family: "poppins";
    padding: 5%;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 40px;
}
.icon-para
{
    font-family: "roboto";
    padding-left: 5%;
    padding-right: 5%;
    font-size: 17px;
    letter-spacing: 1px;
    color: rgb(137, 128, 128);
}

  /* plans */
 
  .service-cards
  {
    background-color:rgb(0,0,0,0.5);
    color:#ffffff;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    border-style:solid;
    border-width: 6px;
    border-color:#ffffff;
    border-radius: 2%;
    padding-top: 10%;

    padding-bottom: 10%;
    margin-bottom: 7.5%;
    
    
    transition: transform 0.6s;
    
  }
  
  .service-cards:hover{
    animation-play-state: paused;
    transform:  scale(1.08);}
   .planss{
        background-image: url("/images/solar1.png");
      background-repeat: no-repeat;
      background-size: cover;

    }
    .ob-icon1{
        height: 100px;
        width: 100px;
        margin:auto;
        margin-bottom: 5%;
        }
    .card-title
    {
        font-family: 'montserrat';
        font-size: 30px;

    }
    .card-text
    {
        font-family: 'montserrat';
        text-align: left;
        margin-bottom: 10%;
    }
    /* Testimonials */
    /* carousel */

#testimonials{
    
    text-align: center;
    background-color: #ffecd9;

    
}
.testimonial-image{
    width:30%;
    border-radius:100% ; 
    margin: 20px;
    margin-right: 5%;
    float: left;
    color:#000

}

.testimonial-text{
    font-family: "roboto";
    letter-spacing: 1px;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 5rem;
    color:#000

}
.carousel-item{
       padding-bottom: 7%;
       padding-left:15%;
       padding-right:15%;
       padding-top: 7%;
}
.testimonial-heading
{
    font-family: "poppins";

    font-size: 50px;
    color:#000;
    padding-top: 5%;
    text-align: center; font-weight: 800;  padding-bottom: 2%;  }
    .obj-heading{
        font-family: "poppins";

        font-size: 50px;
        color:#000;

        text-align: center; font-weight: 800;  padding-bottom: 4%;
        margin-bottom: 5%;
    }
/* invest */
.aa{
    font-family: 'roboto';
    font-weight: 300;
    font-size: 15px;

}
/* .highlight {
    text-decoration: underline;
    background-color: yellow;
    padding: 2px;
  } */
 .text-to-highlight {
    background-color: #ff9900; 
    color: #fff; 
    padding: 2px 5px;
    border-radius: 5px; 
    font-weight: bold; 
    text-shadow: 0 0 5px #ff9900; 
    
}
.text-to-highlight1
{
    /* background-color: #3d9805; 
    color: #fff; 
    padding: 2px 5px;
    border-radius: 5px; 
    font-weight: bold; 
    text-shadow: 0 0 5px #5b9c05;  */
    color: #1e7e34;
}
.offset-sub-heading
{
    color: rgb(3, 3, 3); text-align: center;padding-bottom: 3%; font-family: 'montserrat' ;font-weight: 400; font-size: 20px;
}
/* newsletter */
#newsletter {
    background: linear-gradient(to right, #FF7000, #FFAB68); /* Bright green to clear blue gradient */
    color: #fff; /* White text color for contrast */
    padding: 50px 0;

}



.btn:hover {
    background-color: #ff7700; /* Darker yellow on hover */
    color: white;

}
#newsletter {
    background-image: url("/images/solar1.png");
    background-size: cover;
    background-position: center;
}
.news{
    background-color: rgb(0,0,0,0.7);
    padding: 5%;
    border-radius: 5%;
}


/* News and Blog Section */
.news-section {
    padding: 50px 0;
    background-color: #f9f9f9;
}



.news-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.news-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.news-card p {
    font-size: 16px;
    line-height: 1.6;
    color: #949292;
}

/* Customizing the main heading */
.news-section .header-title-1 {
    font-size: 36px;
    font-weight: 700;
    color: #333; /* Change the color as needed */
    text-align: center;
    margin-bottom: 20px;
}

.news-section .header-title-2 {
    font-size: 24px;
    font-weight: 400;
    color: #666; /* Change the color as needed */
    text-align: center;
    margin-bottom: 40px;
}

/* Adjusting responsiveness */
@media (max-width: 768px) {
    .news-card {
        padding: 15px;
    }
}

@media (max-width: 576px) {
    .news-section .header-title-1 {
        font-size: 30px;
    }
    .news-section .header-title-2 {
        font-size: 20px;
    }
}
.card1 {
    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
  }
  
  .card1:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4)
  } 

  .animated-text span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }
 /* carbon calculat */
 .container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
/* result-carbon */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;    
}

#mainCard {
  width: 400px;
  height: 600px;
  background: white;
  border-radius: 15px;
  padding: 1em;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.2);

  .columnContainer {
    p:first-child {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.8);
    }
    p:nth-child(2) {
      text-align: center;
    }

    #factors {
      color: red;
      position: absolute;
      margin-top: 150px;
      margin-left: 10px;
      color: grey;
      font-weight: 400;
      font-size: 15px;
    }
  }
}

#mainCard:hover {
  cursor: pointer;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

#arc {
  margin: 30px 85px;
  position: relative;

  #low {
    position: absolute;
    bottom: -130px;
    left: -5px;
  }

  #high {
    position: absolute;
    bottom: -130px;
    left: 205px;
  }

  #currentScoreContainer {
    position: absolute;
    bottom: -130px;
    left: 75px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    text-align: center;

    #currentScore {
      font-size: 45px;
      font-weight: bolder;
    }

    #currentScoreDetail {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.line {
  height: 10px;
  border: 1px solid grey;
}

#bad {
  width: 200px;
  height: 100px; /* as the half of the width */
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 10px solid #ff6364;
  border-bottom: 0;
  clip-path: polygon(0 0, 45% 0, 48% 100%, 0% 100%);
  position: absolute;
}

#poor {
  width: 200px;
  height: 100px; /* as the half of the width */
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 10px solid #ff883a;
  border-bottom: 0;
  clip-path: polygon(69% 0, 45% 0, 48% 100%, 49% 100%);
  position: absolute;
}

#fair {
  width: 200px;
  height: 100px; /* as the half of the width */
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 10px solid #fdd42d;
  border-bottom: 0;
  clip-path: polygon(69% 0, 100% 20%, 48% 100%, 49% 100%);
  position: absolute;
}

#good {
  width: 200px;
  height: 100px; /* as the half of the width */
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 10px solid #0192f5;
  border-bottom: 0;
  clip-path: polygon(100% 61%, 100% 20%, 48% 100%, 49% 100%);
  position: absolute;
}

#excellent {
  width: 200px;
  height: 100px; /* as the half of the width */
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 10px solid #3fd796;
  border-bottom: 0;
  clip-path: polygon(100% 61%, 100% 100%, 48% 100%, 49% 100%);
  position: absolute;
}

.accent {
  color: grey;
  font-size: 15px;
}

.grid {
  height: 300px;
  width: 100%;
  display: grid;
  margin: 5px auto;
  padding: 5px -5px;
  margin-top: 190px;
  grid-template-columns: 1fr 1fr;
}

.gridBox {
  background: rgba(0, 0, 0, 0.05);
  height: 75px;
  margin: 3px;
  margin-top: -10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;

  .line {
    height: 100%;
    width: 3px;
    border: none;
  }

  .line.good {
    background: #3fd796;
  }

  .line.avg {
    background: #fdd42d;
  }

  .line.bad {
    background: #ff6364;
  }

  .gridDetail {
    padding: 10px;

    .mainInfo {
      font-size: 20px;
      font-weight: 600;
    }

    .detailInfo {
      margin-top: 5px;
      font-size: 14px;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}

#dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: auto;
  background: white;
  border: 6px solid grey;
  display: block;
}
/* savings */
.calc-bg
{
   padding: 5%;
   
}
.steps
{
    border-color: #000;
    border: 0px solid ; /* Add border with 2px width and color #ccc */
  padding: 5%;
  margin: 10%;
  margin-bottom: 0;
  margin-top: 0;
  border-radius: 3%;
  background-color: rgba(255, 255, 255, 0.4);
}
.steps1
{
    border-color: #ffffff;
    border: 0 solid ; /* Add border with 2px width and color #ccc */
  padding: 5%;
  margin: 10%;
  margin-bottom: 0;
  margin-top: 0;
  border-radius: 3%;
  background-color: rgba(10, 10, 10, 0.7);
}
.calc-input
{
    font-family: 'roboto';
    color: rgb(38, 38, 37);
}
.calc-input1
{
    font-family: 'poppins';
    color: rgb(251, 251, 247);
    letter-spacing: 1px;

}
.saving-heading
{
  
    margin-bottom: 2%;
    font-family: 'poppins';
}
/* result-savings */
.chart
{
  
    padding: 4%;
    width:100%;
    margin-top: 15%;
    
}
.chart1
{
  
    padding: 4%;
    width:100%;
    margin-top: 5%;
    
}
.heading-result
{
    padding-top: 5%;
    font-family: "poppins";
   font-weight: 700;
   font-size: 80px;
   text-align: center;
   color: rgb(255, 255, 255);
   animation-duration: 2s;
    animation-name: slidein1;
   
}
.heading-result1
{
    padding-top: 5%;
    font-family: "oswald";
   font-weight: 700;
   font-size: 80px;
   text-align: center;
   color: rgb(255, 255, 255);
   animation-duration: 2s;
    animation-name: slidein1;
   
}
.heading-sub
{
    padding-top: 5%;
    font-family: "poppins";
   font-weight: 700;
   font-size: 50px;
   text-align: center;
   color: rgb(255, 255, 255);
   padding-bottom: 5%;
   animation-duration: 2s;
   animation-name: slidein2;
 
 
}
.heading-sub1
{
    padding-top: 5%;
    font-family: "oswald";
   font-weight: 700;
   font-size: 50px;
   text-align: center;
   color: rgb(255, 255, 255);
   padding-bottom: 5%;
   animation-duration: 2s;
   animation-name: slidein2;
 
 
}
.h1r{
    font-family: "poppins";
   font-weight: 700;
   font-size: 50px;

   line-height: 100px;
}
.h2r{
    font-family: "poppins";
   font-weight: 700;
   font-size: 45px;
   line-height: 80px;

}
@keyframes slidein2{
    from {
      transform: translateX(-100%); /* Start from below the screen */
    }
    to {
      transform: translateY(0); /* Slide to its original position */
    }
  }
  
  @keyframes slidein1 {
    from {
      transform: translateX(100%); /* Start from the right of the screen */
    }
    to {
      transform: translateX(0); /* Slide to its original position */
    }
  }
#myNumber
{
    font-size: 100px;
    padding-left: 3%;
    color: #ffb300;
}
#myNum
{
    font-size: 80px;
    padding-left: 3%;
    color: #ffb300;
}
.engulf{
    /* border: 5px solid rgb(97, 195, 31);
    background-color: rgba(101, 234, 13, 0.3); */

    border-radius: 5%;
    padding: 5%;


}
.engulf1{
    /* border: 5px solid rgb(97, 195, 31);
    background-color: rgba(101, 234, 13, 0.3); */

    padding: 5%;
    border-radius: 5%;

}
.saving-bg{
  
   /* background: linear-gradient(to bottom, #ff9a9e 0%, #ffcc99 40%, #c4e0e5 100%); */
  /* animation: animateColors 2s ease-in-out infinite alternate; */
  background-image: url("/images/motivation.png");


} 

@keyframes animateColors {
    from { background-color: #ffdfb5; }
    to { background-color: #fff833; }
  }
  
  .h11
  {
    padding-top: 5%;
    padding: 10%;
    font-family: "poppins";
   font-weight: 800;
   font-size: 60px;
   letter-spacing: 3px;
   text-align: center;
   line-height: 70px;
   color: rgb(255, 255, 255);

  }
  .card-t{
    font-size: 30px;
    font-family: 'poppins';
  }
  .card-t1
  {
    font-size: 20px;
    font-family: 'poppins';
  }

  /* calculator-carbon */
  .form-hh{
    text-align: center;
    color: white;
    font-family: 'poppins';
    font-size: 45px;
    margin-bottom: 5%;
    font-weight: 500;
  }

  .form-t{
    color: white;
    font-family: "roboto";
    font-size: 25px;
    margin: 2% ;
    font-weight: 300;

  }
  .form-tt{
    color: white;
    font-family: "lato";
    font-size: 20px;
    margin: 1%;
    font-weight: 300;
  }
  /* carbon-result */
.heading-res{
    font-family: "oswald";
    font-weight: 800;
    color: white;
    font-size: 55px;
    padding: 10%;
}
.paraa
{
    font-family: "roboto";
    color:rgb(97, 97, 97) ;
    padding: 0 4% 4% 0;
    line-height: 32px;
    letter-spacing: 0.5px;
}
.heading-explain{
    font-family: "oswald";
    font-weight: 600;
    color: black;
    font-size: 50px;
    padding: 3%;
    padding-top: 5%;
    margin-top: 7%;

}
.image-result{
    width: 100%;
    
}
/* send email */
#email
{
    padding:5%;
    padding-left: 10%;
    padding-right: 10%;
}
.email-title
{
    text-align: center;
    font-family: "poppins";
    font-weight: 700;
    font-size: 45px;
}
.lower
{
    font-family: "roboto";
    font-weight:400;
    font-size: 20px;
}
#email-bt
{
  display: block;
  width: 100%;
  border: none;
  background-color: #258c66;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
#email-bt:hover{
    background-color: #e2dbdb;
}
