<div class="footer-padding"></div>
<hr style="border-style: solid none none; width: 90%; text-align: center; margin: auto; margin-top: 2%; height: 0px; border-color: black; border-width: 2px; color: black;">
  <div class="footer container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="/faq" style="text-decoration: none;"><h3 class="footer-head">FAQ's</h3></a>
            
            <div style="text-align: left;"  class="links-foot">
            <a href="https://www.britannica.com/science/carbon-footprint"style="text-decoration: none; color: #000;">What is Footprint?</a><br>
            <a href="https://www.theguardian.com/environment/2011/sep/16/carbon-offset-projects-carbon-emissions"style="text-decoration: none; color: #000;"> What is Offset?</a><br>
            <a href="https://justenergy.com/blog/how-to-calculate-your-carbon-footprint/"style="text-decoration: none; color: #000;">How Do We Calculate?</a><br>
            <a href="https://www.greenyatra.org/"style="text-decoration: none; color: #000;">How Do We Plant?</a><br>
            <a href="https://earth.org/offsetting-carbon-emissions/"style="text-decoration: none; color: #000;">What are Benefits?</a>

            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="/about" style="text-decoration: none;"><h3 class="footer-head">About Us</h3></a>
            <div style="text-align:left;" class="links-foot">
                <a href="/about"style="text-decoration: none; color: #000;">Who are we?</a><br>
                <a href="/team"style="text-decoration: none; color: #000;">Our Team</a><br>
                <a href="/vision"style="text-decoration: none; color: #000;">Our Goal?</a><br>
                <a href="/sendEmail"style="text-decoration: none; color: #000;">Contact Us</a>
                </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="/vision" style="text-decoration: none;"><h3 class="footer-head">Our Vision</h3></a>
            <div style="text-align: left;"  class="links-foot">
                <a href="/vision"style="text-decoration: none; color: #000;">What we Aim?</a><br>
                <a href=""style="text-decoration: none; color: #000;">How Will We Achieve?</a><br>
                <a href="https://www.iea.org/reports/co2-emissions-in-2022"style="text-decoration: none; color: #000;">News</a>
                </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="/offset" style="text-decoration: none;"><h3 class="footer-head">Support Us</h3></a>
            <div style="text-align: left;"  class="links-foot">
                <a href="/offset"style="text-decoration: none; color: #000;">Donate</a><br>
                <a href="https://www.greenyatra.org/"style="text-decoration: none; color: #000;">Gift A Tree</a><br>
                <a href="/industries"style="text-decoration: none; color: #000;">For Companies</a>
                </div>
        </div>
    </div>
    <a href="/sendEmail" style="color: black;"><i class="fa-solid fa-envelope icon-social fa-2x"></i></a>
    <a href="https://www.instagram.com/net_zero_carbon/" style="color: black;"><i class="fa-brands fa-instagram  icon-social  fa-2x"></i></a>
    <a href="https://twitter.com/NetZero24" style="color:black;"><i class="fa-brands fa-x-twitter icon-social  fa-2x "></i></a>
    <a href="https://www.youtube.com/channel/UC4RcImhxSzk-0hR4wF0vBOQ"style="color: black;"><i class="fa-brands fa-youtube  fa-2x"></i></a>
    <p class="footer-para">©2024 GreenHorizon All Rights Reserved</p>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>